DB_URL=jdbc:postgresql://postgres:5432/ssvdms
DB_NAME=ssvdms
DB_USERNAME=ssvuser
DB_PASSWORD=password

PGADMIN_DEFAULT_EMAIL=pgadmin@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin

JWT_SECRET=S27Dq7XiSMWkQgjlBNiuBt1lI2chlhkklugAweVwWik
JWT_EXPIRY_MS=86400000

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=ssvadmin
MINIO_SECRET_KEY=password
MINIO_BUCKET=ssv-reports

SIGNING_KEYSTORE_PATH=/app/keystore/ssv-signing.p12
SIGNING_KEYSTORE_PASSWORD=password

APP_BASE_URL=http://192.168.1.100